<section id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid navbar-container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header text-center">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#"><img width="275" src="../../assets/images/navbar-logo.png" alt="Athena's Owl"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse text-center" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right" id="mainNav">
                    <li>
                        <a>Demo</a>
                    </li>
                    <li>
                        <a class="unclick" href="#">Catalogue</a>
                    </li>
                    <li>
                    <li>
                        <a class="unclick" href="#">Analytics</a>
                    </li>
                    <li>
                        <a class="unclick" href="#">Advanced</a>
                    </li>
                    <li>
                        <a class="dropdown-toggle user" data-toggle="dropdown" class="user"><i class="fa fa-user" aria-hidden="true"></i></a>
                        <ul class="dropdown-menu user-dropdown-menu">
                            <li><a (click)="userLogout()">Logout</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</section>
