/**************************Login Form**************************/
.notice {
    color: #d35555;
    text-align: right;
}

.change-border {
    border-color: #d35555;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 3px rgba(212, 25, 22, 1);
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}
/*Shake for form input*/

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}
/*circle logo starts*/

.logo {
    display: block;
    position: relative;
    margin: 0 auto;
    top: -40px;
    height: 80px;
    width: 80px;
    background: url('../../assets/images/logo.png') center center no-repeat, #f0f0f0;
    border-radius: 50%;
    background-size: contain;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
}


/*circle logo ends*/

* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

.login {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
    -webkit-animation: fadein 1s;
    animation: fadein 1s;
}

.login-screen {
    background-color: #f0f0f0;
    padding: 0px 20px 20px 20px;
    border-radius: 5px;
    box-shadow: 0 9px 15px 0 rgba(0, 0, 0, 0.3);
}

.app-title, h1 {
    text-align: center;
    color: #777;
    margin: 0px 0px 10px 0px;
    padding: 0;
    line-height: auto;
}

.login-form {
    text-align: center;
}

.control-group {
    margin-bottom: 10px;
}

.input-group-addon {
    background: white;
}

input {
    background-color: white;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    padding-left: 3px;
    width: 250px;
    transition: border .5s;
}

.btn {
    border: 2px solid transparent;
    background: #246dff;
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    padding: 6px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    transition: 0.25s;
    display: block;
    width: 50%;
    margin: 0 auto;
}

.btn:hover {
    background-color: #246dff;
}

.login-link {
    display: block;
    margin-top: 12px;
}

p {
    margin-top: 50px;
}

a {
    cursor: pointer;
}


/* Login Form Validation */

.warning-block {
    color: red;
    text-align: right;
}


/**************************Forgot password modal **************************/

.modal.modal-wide .modal-dialog {
    width: 50%;
}

.modal {
    text-align: center;
    padding: 0!important;
}

#forgotPassword:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.invalid-login {
    color: red;
    text-align: center;
}

/**************************particles.js container **************************/

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
}


/**************************Animation Keyframes**************************/


/*Fade in for form*/

@-webkit-keyframes fadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}


/**************************Media Queries**************************/

@media (min-width: 270px) and (max-width: 400px) {
    .login {
        width: 90% !important;
    }
}

@media (min-width: 320px) and (max-width: 650px) {
    .modal.modal-wide .modal-dialog {
        width: 90% !important;
    }
}

@media (min-width: 320px) and (max-width: 550px) {
    .login {
        padding: 12% 0 0 !important;
    }
}

/**************************spinner**************************/

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #1980b3;
    z-index: 2001;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3399cc;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #70b7da;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}